/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Custom Vars */
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bg-color-main: #3591b1;
  --text-shadow-1: -3px 4px 4px rgba(0, 0, 0, 0.25);
  --drop-shadow-1: 0px 5px 15px -1px rgba(0, 0, 0, 0.3);
  --mobile-side-margin: 1rem;
  --card-bg-1: #7f75ca;
  --card-bg-2: #d1903d;
  --font-body-color: #636363;
  --bg-slant-mobile: linear-gradient(
    150deg,
    var(--bg-color-main) 40%,
    #ffffff calc(40% + 1px)
  );
  --bg-slant-tablet: linear-gradient(
    160deg,
    var(--bg-color-main) 60%,
    #ffffff calc(60% + 1px)
  );
  --bg-slant-desktop: linear-gradient(
    172deg,
    var(--bg-color-main) 70%,
    #ffffff calc(70% + 1px)
  );
}

/* System Font Stack */
body {
  font-family: "Roboto", var(--system-ui);
}

/* General */
.heading {
  font-family: "Playfair Display", var(--system-ui);
  font-weight: 500;
  text-align: center;
}

/* About me */
.header-about {
  background-image: var(--bg-slant-mobile);
  padding: 2rem;
}

header p {
  color: var(--font-body-color);
}

.about-img-container {
  display: grid;
  box-shadow: var(--drop-shadow-1);
  width: fit-content;
  margin: auto;
}

.about-img,
.caption-about-name {
  grid-area: 1/1;
}

.caption-about-name {
  display: grid;
  align-items: flex-end;
}

.about-name {
  max-width: 100cqw;
  font-weight: 400;
  font-size: 10cqw;
  color: white;
  text-shadow: var(--text-shadow-1);
}

.about-me {
  margin-top: 1rem;
  font-size: 1.7rem;
}

.about-links-container {
  display: flex;
  place-content: center;
  gap: 16px;
  margin-top: 1rem;
}

/* Main Project cards */
.project-container {
  display: flex;
  flex-direction: column;
}

.main-heading {
  margin: 6rem 0 1rem;
  font-size: 2rem;
}

.project-card:nth-of-type(even) .screenshot-placeholder {
  background-color: var(--card-bg-1);
}

.project-card:nth-of-type(odd) .screenshot-placeholder {
  background-color: var(--card-bg-2);
}

.project-card {
  margin: 0 var(--mobile-side-margin) 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--drop-shadow-1);
}

.screenshot-placeholder {
  display: grid;
  height: 250px;
}

.screenshot-placeholder p {
  place-self: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.project-header .heading {
  font-size: 1.3rem;
  margin-left: 2rem;
}

.project-header ul {
  display: flex;
  margin: 0 1rem;
  gap: 12px;
}

.card-icon {
  min-width: 28px;
}

.project-info {
  padding-bottom: 2.5rem;
}

.project-info p {
  margin: 1.5rem;
  color: var(--font-body-color);
}

/* Footer */
footer {
  background-color: var(--bg-color-main);
  color: white;
  margin-top: 10rem;
}

.contact-container {
  padding-bottom: 4rem;
}

.contact-container .heading {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 200;
}

.contact-container p {
  margin: 0 1.3rem;
}

.contact-container address {
  margin-top: 2rem;
}

.contact-info p {
  margin-bottom: 2rem;
  font-style: normal;
}

.phone p {
  margin-bottom: 0;
}

.contact-info ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Tablet */
@media screen and (min-width: 500px) {
  /* About me */
  .header-about {
    background-image: var(--bg-slant-tablet);
    display: grid;
    place-items: center;
    padding: 2rem 4rem;
  }

  .about-me-container {
    box-shadow: var(--drop-shadow-1);
    max-width: 80vw;
    margin-top: 8rem;
    background-color: white;
  }

  .about-img-container {
    float: left;
    padding: 0;
    margin: -90px 1.5rem 1rem -45px;
  }

  .about-img {
    max-height: 420px;
    object-fit: cover;
  }

  .caption-about-name {
    align-items: flex-start;
    position: relative;
  }

  .about-name {
    white-space: nowrap;
    position: absolute;
    top: 16px;
    right: 0;
    transform: translateX(80%);
    font-size: clamp(2rem, 6vw, 3rem);
  }

  .about-me-container p {
    margin: 2rem;
  }

  .about-me {
    margin: 5rem 1rem 0;
    overflow-wrap: normal;
  }

  .about-links-container {
    display: none;
  }

  /* Main Project Cards */
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .project-card {
    max-width: 40vw;
  }

  .project-header .heading {
    margin-left: 0.5rem;
    overflow-wrap: normal;
  }

  /* Contact me */
  footer {
    display: flex;
  }

  .contact-container .heading {
    text-align: left;
  }

  .contact-info ul {
    justify-content: flex-start;
    margin-left: 1.3rem;
  }

  .contact-img-container {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
  }

  .contact-img-container img {
    max-height: 350px;
    object-fit: cover;
  }
}

/* Desktop */
@media screen and (min-width: 1000px) {
  /* About me */
  .header-about {
    background-image: var(--bg-slant-desktop);
  }

  .about-me-container {
    display: grid;
    grid-template:
      "img ." 50px
      "img about" 1fr
      "img ." 50px
      / 1fr 1.3fr;
    margin-top: 2rem;
    background-color: transparent;
    box-shadow: none;
  }

  .about-img-container {
    background-color: transparent;
    grid-area: img;
    float: none;
    padding: 0;
    margin: 0;
    box-shadow: var(--drop-shadow-1);
  }

  .about-img {
    max-height: none;
    min-height: 100%;
  }

  .about-text-container {
    grid-area: about;
    background-color: white;
    box-shadow: var(--drop-shadow-1);
  }

  .caption-about-name {
    position: static;
    align-items: flex-end;
  }

  .about-name {
    position: static;
    transform: none;
  }

  .about-links-container {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
  }

  /* Main Project cards */
  .project-card {
    max-width: 30vw;
  }
}
